.tb1{
    background-color: #333;
    color: #fff;
}

.t1{
    text-align: center;
}


.f1{
    background-color: #333;
    color: #fff;

}

.anchor{
    color: white;
    text-align: center;

}

.f1{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 0.5px;
}

